.bukza__iframe{
    width:100%;
    min-height:100vh;
	min-height: calc(100vh - 32px);
    border:none;
    margin-left: -20px;
    padding-right: 20px;
    background-color:#23282d;
}

@media screen and (max-width: 782px){
    .bukza__iframe{
        margin-left: -10px;
        padding-right: 10px;
    }
}